@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  background-color: #f4f5f9; }

.blog_header {
  width: 100%;
  margin: auto;
  background-color: #f1404b; }
  .blog_header #name #subtitle {
    color: #f1404b;
    font-family: "Roboto", sans-serif; }

ul li {
  display: inline;
  text-decoration: none;
  font-family: "Raleway", sans-serif; }

.blog_footer {
  background-color: #252c41;
  color: #f1404b;
  font-family: "Roboto", sans-serif; }

.blogpost {
  background-color: #dddfe6;
  margin: 5em;
  padding: 2em; }

.wrapper {
  background-color: #f4f5f9; }

.weekly {
  font-family: "Roboto", sans-serif;
  color: #f1404b;
  font-size: 1.25em;
  font-weight: strong;
  text-decoration: underline; }

p .post {
  background-color: #dddfe6;
  font-family: "Raleway", sans-serif;
  font-size: 0.7em;
  padding: auto;
  margin: auto; }
