/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


.blog_header {
	text-transform: uppercase;
	max-width: 100%;
	margin: auto;
}


.navbar {
	background-color: #a3a1a1;
	border: solid 2px black;
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
	opacity: .95;

}

.navbar li {
	display: inline;
	text-decoration: none;
	align-content: center;
}

.wrapper {
	background-color: #e3dede;
	color:#333030;
	max-width:100%;
	margin: 30px;
	padding: 10em;
}

.blogposts {
	margin: auto;
}

.weekly{
	font-weight: 800;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
	margin: auto;
}

footer {
	font-family: 'Roboto', sans-serif;
	border: solid 2px black;
	background-color: #333030;
	color: #6d819c;
	text-transform: uppercase;
	max-width: 100%;
}