@import "_reset.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");


//colors
$primary: #f1404b;
$secondary: #dddfe6;
$tertiary: #252c41;
$white: #f4f5f9;



//fonts
$header-font: "Roboto", sans-serif;
$body-font: "Raleway", sans-serif;

//styling starts here
body {
    background-color: $white;
}

.wrapper {
    background-color: $tertiary;
}

.blog_header {
    width: 100%;
    margin: auto;
    background-color: $primary;
}

#name {
    color: $primary;
    font-family: $header-font;
}

ul {
    li {
        display: inline;
        text-decoration: none;
        word-spacing: auto;
        font-family: $body-font;
    }
}

.blog_footer {
    background-color: $tertiary;
    color: $primary;
    font-family: $header-font;
}

.blogpost {
    background-color: $secondary;
    margin: 5em;
    padding: 2em;
    border: 2.25px solid $tertiary;
}

.wrapper {
    background-color: $white;
}

.weekly {
    font-family: $header-font;
    color: $primary;
    font-size: 1.25em;
    font-weight: strong;
    text-decoration: underline;
}

p .post {
    background-color: $secondary;
    font-family: $body-font;
    font-size: 0.7em;
    padding: auto;
    margin: auto;
}

.navbar a {
    color: $primary;
}

#contact-para{
    color: $primary;
    margin: auto;
    padding: auto;
}

a:hover{
    color: firebrick;
    font-size: 1.1em;
    opacity: 0.6%

}
