.blog_header {
	text-transform: uppercase;
	max-width: 60%;
	margin: 32px;
}


.navbar {
	background-color: darkgrey;
	border: solid 2px black;
	max-width: 100%;

}

.navbar li {
	display: inline;
	text-decoration: none;
	align-content: center;
}

.wrapper {
	background-color: whitesmoke;
	color: #2F4F4F;
	border: solid 2px black;
	max-width:60%;
	margin: 30px;
	padding: 10em;
}


.weekly{
	font-weight: 800;
	text-decoration: underline;
	margin: auto;
}

footer {
	border: solid 2px black;
	background-color: darkslategrey;
	color: #DCDCDC;
	text-transform: uppercase;
	max-width: 100%;
}